# Executables
*.exe
*.lib
*.so
*.pdb
*.exp
*.srb

# Linux excutables with no extension
sronc
sron
sron-docs
sron-FncList
sron-test
build
experi

# windows installer files
/Installer/windows/SRON-v2-cache

# IDE files
.vscode

# experimental files
experi.*
test.sron

# meta files

/meta/__function_lib